<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PruebaICal.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.7.0" newVersion="2.4.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PruebaICal.My.MySettings>
      <setting name="language" serializeAs="String">
        <value>first_start</value>
      </setting>
      <setting name="ssh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dbType" serializeAs="String">
        <value />
      </setting>
    </PruebaICal.My.MySettings>
  </userSettings>
</configuration>